@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to MS AZURE !</h1>
</div>
<h3><a target="_blank" href="https://dev.azure.com/familivichgarri/Azure_Test">Progect Azure DevOps</a></h3>
<br />
<h3><a asp-action="Translator">Когнитивные сервисы. Переводчик</a></h3>
<br />
<h3><a asp-action="Cosmos">Work with CloudDB. CosmosDB.</a></h3>
<h3><a asp-controller ="Search" asp-action="Index">Searching services. Bing</a></h3>