@using System.Security.Claims
@{
    bool isAuthenticated = Context.User.Identity?.IsAuthenticated ?? false;
    // String avatarSrc = isAuthenticated
    // ? Context.User.Claims.First(c => c.Type == ClaimTypes.UserData).Value

    // : "";
    String userName = isAuthenticated
           ? Context.User.Claims.First(c => c.Type == ClaimTypes.Name).Value

           : "";
    String userEmail = isAuthenticated
    ? Context.User.Claims.First(c => c.Type == ClaimTypes.Email).Value

    : "";
    String userBirthdate = isAuthenticated
           ? Context.User.Claims.First(c => c.Type == ClaimTypes.DateOfBirth).Value

           : "";
}

@{
    ViewData["Title"] = "UserPageAuth";
}

<form asp-action="UserPageAuth" method="post" enctype="multipart/form-data">
    <div class="row">
        <div class="col">
            <div class="input-group mb-3">
                @* <img src="/img/avatars/@avatarSrc " class="rounded-circle UPimg" /> *@
            </div>
        </div>
        <div class="col">
            <div class="input-group mb-3">
                <span class="input-group-text" id="username-nick">User Nick Name</span>
                <span class="input-group-text"><i class="bi bi-person-lines-fill"></i></span>
                <input type="text" name="username-nick" class="form-control" aria-label="username-nick" placeholder="@userName" aria-describedby="inputGroup-sizing-default" readonly>
            </div>
        </div>
        <div class="col">
            <div class="input-group mb-3">
                <span class="input-group-text" id="user-email">User Email</span>
                <span class="input-group-text"><i class="bi bi-envelope"></i></span>
                <input type="text" name="user-email" class="form-control" aria-label="user-email" placeholder="@userEmail" aria-describedby="inputGroup-sizing-default" readonly>
            </div>
        </div>
        <div class="col">
            <div class="input-group mb-3">
                <span class="input-group-text" id="user-birthdate">User Birthdate</span>
                <span class="input-group-text"><i class="bi bi-calendar3"></i></span>
                <input type="text" name="user-birthdate" class="form-control" aria-label="user-birthdate" placeholder="@userBirthdate" aria-describedby="inputGroup-sizing-default" readonly>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-check mb-3">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    Я хочу изменить информацию
                </label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button type="submit" class="btn btn-primary" id="saveChangesBtn" disabled>Сохранить изменения</button>
        </div>
    </div>
</form>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var checkbox = document.getElementById("flexCheckDefault");
        var saveChangesBtn = document.getElementById("saveChangesBtn");
        var inputFields = document.querySelectorAll("input.form-control");

        function enableFields() {
            saveChangesBtn.style.display = "block";
            inputFields.forEach(function (input) {
                input.removeAttribute("readonly");
            });
        }

        function disableFields() {
            saveChangesBtn.style.display = "none";
            inputFields.forEach(function (input) {
                input.setAttribute("readonly", "readonly");
            });
        }

        checkbox.addEventListener("change", function () {
            if (this.checked) {
                enableFields();
            } else {
                disableFields();
            }
        });

        disableFields(); // По умолчанию скрываем кнопку и блокируем поля ввода
    });
</script>


